# Business Understanding

# Data Understanding

## Data Preparation

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [24]:
df = pd.read_csv('data/Aviation_Data.csv', low_memory=False)
#keep in mind what the dataframe means. these are accidents.
#go through what columns to keep and rows by null values. might be ~50,000 values.

In [8]:
df.head()
#noir: nominal (categorical, mode), ordinal (ranked data), integer, ratio (all stats)
#convert columns to type (categorical, datetime)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [19]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [20]:
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [22]:
df['Model'].value_counts()

152            2367
172            1756
172N           1164
PA-28-140       932
150             829
               ...
W2                1
310-L             1
NAV-4-1908        1
GLOBE GC-1B       1
1-126E            1
Name: Model, Length: 12318, dtype: int64

In [10]:
df['Investigation.Type'].value_counts()
#possibly remove date values

Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
04-03-2021        1
18-11-2020        1
03-11-2020        1
04-08-2021        1
13-09-2021        1
Name: Investigation.Type, Length: 71, dtype: int64

In [12]:
df['Accident.Number'].value_counts()
#high cardinality, very uniform. not good to find a pattern here.

CEN22LA346    2
DCA22WA089    2
DCA22WA204    2
DCA22LA135    2
WPR23LA045    2
             ..
DCA16WA219    1
WPR19LA060    1
ERA19TA192    1
SEA91LA032    1
MKC84LA191    1
Name: Accident.Number, Length: 88863, dtype: int64

In [14]:
df['Country'].value_counts()
#paredo distribution. remove countries with low value count. we can look at just US.

United States                       82248
Brazil                                374
Canada                                359
Mexico                                358
United Kingdom                        344
                                    ...
Bosnia And Herzegovina                  1
Albania                                 1
Corsica                                 1
Belarus                                 1
Saint Vincent and the Grenadines        1
Name: Country, Length: 219, dtype: int64

In [18]:
df['Airport.Code'].isnull().sum()

40099

In [ ]:
df['Country'].value_counts()

In [ ]:
#edit df down to only keep relevant info to my project

# Exploratory Data Analysis

## Conclusions

## Limitations

## Recommendations

## Next Steps